.main_section{
    color: white;
    /* width: 50%; */
    align-items: flex-start;
    margin: 33px 0 ;
}
/* @media screen and (max-widht: 1100px ) {
    .main-section_sub_sections{
        padding: 0 1rem;
    }
    
} */

.main_section_sub_sections{
    display: flex;
    flex-direction: column;
    gap: 7px;
}


